<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <body>
        {% block content %}
            <h2 class="text-center text-decoration-underline mt-3">User Profile</h2>
            <div>
                <form action="{% url 'main:editprofile' %}" method="post" class="form mx-auto" style="width:60%" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <div class="mx-auto" style="width: 100px">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        {% endblock content %}
    </body>
</html>